:root {
   --color-primario: #4C5FD5;
   --color-secundario: #000000;
   --gray-ligth-color: #dadbf1;
   --white-color: #fff
}

*{
   margin: 0;
   padding: 0;
}

body{
   font-family: "GT America Standard", sans-serif;
}

nav{
   background-color: var(--color-secundario);
   padding: 10px;
   color: var(--gray-ligth-color);
}

nav img{
   height: 30px;
   width: 32px;
}

nav ul {
   list-style: none; /* Quita las viñetas predeterminadas de la lista */
   display: flex; /* Convierte la lista en una fila horizontal */
   justify-content: space-around; /* Distribuye los elementos equitativamente en la navbar */
}

nav li{
   font-size: 18px;
}

.one-li{
   padding-right: 5px; /* Espacio entre los elementos de la lista */
   padding: 5px;
}

.Two-li{
   padding-right: 200px;
   padding-top: 5px;
}

a {
   text-decoration: none; /* Quita el subrayado del enlace */
   color: white; /* Color del texto del enlace */
}

a:hover {
   background-color: #555; /* Color de fondo cuando el enlace se encuentra en hover */
}

.Three-li button{
   background-color: var(--color-secundario);
   color: var(--white-color);
   border: #dadbf1 1px solid;
   font-size: 18px;
   padding: 5px;
}

.Four-li button{
   background-color: var(--color-primario);
   color: var(--white-color);
   font-size: 18px;
   padding: 5px;
}

main{
   background-color: var(--gray-ligth-color);
}
.div-search-container{
   height: 200px;
   text-align: center;
}

.div-search-container h1{
   padding-top: 50px;
   font-size: 45px;
}

input[type="search"] {
   color: #000;
   background-color: #fff;
   font-size: 16px;
   padding: 10px;
   border: 1px solid #ccc;
   width: 450px;
}

.section-services{
   background-color: var(--white-color);
}

.section-services li{
   list-style: none;
}
.section-services a{
   text-decoration: none;
   background-color: var(--white-color);
   color: var(--color-secundario);
}

.div-list-container{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 20px; 
}
